@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #8C0303;
  padding: 50px 0;
  margin: 0 0;
  display: none;
}
nav li{
  padding: 15px 0;
}
nav a{
  color: #fff;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
nav a:hover{
  color: #0D0C0C;
  font-size: 25px;
}
#nav_btns>*{
  cursor: pointer;
}
#extendBtn, #closeBtn{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
}
#closeBtn{
  display: none;
}
@media(min-width: 576px){
  nav ul{
    display: flex!important;
    background: none;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
  }
  nav a:hover{
    border-bottom: 3px solid #0D0C0C;
  }
  #nav_btns{
    display: none;
  }
}


header{
  width: 100vw;
  height: 100vh;
  position: relative;
}

#header_image_wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
}

#header_image_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header_image_wrapper:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F20544;
  opacity: 0.6;
}

#header_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#name{
  font-size: 20px;
  padding-bottom: 5px;
}
#position{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}
#main_info button{
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: rgba(242, 5, 68, 0.6);
  font-size: 20px;
}
#main_info button:hover{
  background-color: #0D0C0C;
}

.contact_links{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.contact_links a{
  padding: 15px 7px;
}


@media(min-width: 576px){
  #name{
    font-size: 25px;
  }
  #position{
    font-size: 40px;
  }
  #main_info>button{
    padding: 15px 25px;
    font-size: 22px;
  }
}

section{
  padding: 60px 25px;
  font-family: 'Open Sans', sans-serif;
}

.section_name{
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #040DBF;
  padding: 20px 0;
  font-weight: 600;
}
.section_name hr{
  width: 60px;
  height: 3px;
  float: left;
  border: none;
  background-color: #040DBF;
  margin-left: 0;
}

.left_col{
  font-size: 18px;
}

.right_col{
  display: flex;
  flex-wrap: wrap;
}

.skill{
  font-size: 18px;
  padding: 20px 20px 20px 0;
}
.skill .title{
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}
.skill_lists{
  display: flex;
}
.skill ul{
  list-style: none;
  padding: 0;
  margin: 0 15px 0 0;
}

.skill li{
  line-height: 1.4;
}

@media(min-width: 576px){
  section{
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0 0 30px;
  }
  .section_content{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
  }
  .left_col, .right_col{
    width: 45vw;
    max-width: 500px;
    padding: 20px 10px;
  }
  .left_col{
    width: 40vw;
    max-width: 400px;
  }
  .right_col{
    width: 50vw;
    max-width: 500px;
  }
  .skill{
    padding: 0 20px 20px 0;
  }
}

.project{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.project_image_wrapper{
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
.project_image_wrapper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project .right_col{
  display: flex;
  flex-direction: column;

}
.project .right_col>*{
  margin-bottom: 10px;
}
.project_title{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.project_desc{
  line-height: 1.4;
  font-size: 18px;
}
.skills_title{
  font-size: 18px;
  font-weight: 600;
}
.skills{
  line-height: 1.4;
}
.project_links{
  text-align: center;
  display: flex;
  margin-bottom: 5px;
}

.project_links a{
  color: #fff;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  margin: 10px 5px;
  border-radius: 15px;
  font-size: 18px;
}
.project_links img{
  margin-right: 7px;
}
.project_live{
  background-color: #FF8A00;
}
.project_repo{
  background-color: #404040;
}
#contact{
  position: relative;
  width: 100vw;
  min-width: 100vw;
  background-image: url('images/london-1758181_1920.jpg');
  background-position: center;
  background-size: cover;
}

#contact_wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  z-index: 1;
}
#contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
#contact_wrapper>*{
  margin: 10px auto;
}
#contact_title{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
#contact_content{
  width: 90vw;
  padding: 0 20px;
}
#contact button{
  padding: 7px 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: none;
  background: none;
}
#contact button img{
  padding-right: 10px;
}

@media(min-width: 576px){
  #projects .section_content{
    flex-direction: column;
  }
  .project{
    flex-direction: row;
  }
  #contact{
    padding: 50px 0;
  }
  #contact_content{
    max-width: 450px;
  }
}
#footer{
  background-color: #595959;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding-bottom: 10px;
  margin-top: 0;
  width: 100vw;
}
.footer_title{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}
.footer_links a{
  margin: 0 5px;
}
.copyright_container{
  padding: 50px 20px 0 20px;
}
